#ifndef {{plugin_prefix.upper()}}_PLUGIN_API_{{prefix.upper()}}_NOTIF_H
#define {{plugin_prefix.upper()}}_PLUGIN_API_{{prefix.upper()}}_NOTIF_H

#include "plugin/context.h"
#include "plugin/common.h"

{% for node in node_list %}
int {{prefix}}{{"_" if prefix != "" else ""}}send_notif_{{to_c_variable(node.name())}}({{plugin_prefix}}_ctx_t *ctx);
{% endfor %}

#endif // {{plugin_prefix.upper()}}_PLUGIN_API_{{prefix.upper()}}_NOTIF_H
